*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, 
body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", serif;
}

/* header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: #ffffff;
}

footer{
    padding: 1em;
    background-color: #090909;
    text-align: center;
    color: white
}

.alien {
    font-size: 1.2rem;
    animation: bounce 1s infinite;
}

@keyframes bounce {
      0%, 100% {
        transform: translateY(0); /* Original position */
      }
      75% {
        transform: translateY(-3px); /* Move up */
      }
      50% {
        transform: translateX(-3px);
      }
      25% {
        transform: translateY(3px);
      }
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

nav ul li{
    color: #090909
}

li:hover,
li:active{
    color: purple;
}

li:focus{
    color: purple;
}



/* typography */

.title {
    font-family: "Roboto", serif;
    font-size: 0.8rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    font-size: 0.75rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 1.25em;
}

.date{
    font-size: 0.75rem;
    text-transform: uppercase;
    display: block;
    
}

h1{
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    color: #141414;
}

p{
    max-width: 750px;
    line-height: 1.5;
}

/* grid layout */

.grid-container {
    padding: 1em 1em;
    display: grid;
    gap: 1.5em;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "wd"
        "mg"
        "rd"
        "ad"
        "dt"
        "dd"
        "ai"
        "ds";
} 

.card {
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-img {
    width: 100%;
}

.web-design {
    grid-area: wd;
}

.motion-graphics {
    grid-area: mg;
}

.responsive-design {
    grid-area: rd;
}

.accessible-development {
    grid-area: ad;
}

.developer-tools {
    grid-area: dt;
}

.web-documentation {
    grid-area: dd;
}

.ai {
    grid-area: ai;
}

.developer-setup {
    grid-area: ds;
}

.card h2 {
    margin: 0.25em 0;
}

.card .date {
    color: #000000;
    margin-top: 1.25em;
}

.card p {
    color: #505050;
    margin-bottom: 1em;
}

.visit{
    color: purple;
    border-bottom: 1px solid purple;
    display: inline-block;
    line-height: 1;
    font-weight: 500;
    transition: transform 0.3s ease-in-out;
}

@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-10px);
    }
    40% {
      transform: translateY(0);
    }
    60% {
      transform: translateY(-5px);
    }
    80% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-2px);
    }
}

.visit:hover {
    animation: bounce 0.6s ease;
}

/* .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
} */

/* .card:active {
    transform: scale(0.98); 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
} */

/* .card:focus {
    outline: none; 
    box-shadow: 0 0 10px 4px rgba(96, 105, 112, 0.7); 
    transform: scale(1.05); 
}

.card:focus-visible {
    outline: 2px solid #2980b9; 
} */

/* .card:active:focus {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
    transform: scale(0.98); 
} */

/* main */

.featured{
    background-color: rgba(0, 0, 0, 0.45);
    background-blend-mode: darken; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    padding: 1em;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.featured .date,
.featured h1,
.featured p{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);   
}

/* mobile design */

@media (min-width: 360px) {
    .card:active {
        transform: scale(0.9); 
        box-shadow: 0 5px 10px rgba(104, 102, 102, 0.2);  /* Smaller shadow on click */
    }    
}

/* tablet design */

@media (min-width: 600px) {

    /* nav */

    header{
        padding: 1em 2em;
    }

    .alien {
        font-size: 1.75rem;
    }

    .title {
        font-size: 1.1rem;
        font-weight: 700;
    }

    nav ul li{
        font-size: 1rem;
        font-weight: 600;
    }

    /* featured */

    .featured {
        /* height: 75vh; */
        padding: 2em;
    }

    .featured h1{
        font-size: 2rem;
        margin: 0.5rem 0;
    }

    .featured p{
        max-width: 600px;
    }

    /* list grid*/

    .grid-container {
        margin: 0 auto;
        padding: 2em;
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas:
            "wd wd wd wd mg mg mg mg"   
            "rd rd rd rd ad ad ad ad"
            "dt dt dt dt dd dd dd dd"
            "ai ai ai ai ds ds ds ds"
        ;
    }

    .card {
        box-shadow: 0 0 7px rgba(155, 160, 163, 0.8);
        padding: 1em;
    }

    .visit{
        font-weight: 600;
    }
}
    
    /* "wd"
    "mg"
    "rd"
    "ad"
    "dt"
    "dd"
    "ai"
    "ds"; */

@media (min-width: 1024px){
    header{
        padding: 1em 2em;
    }
    
    .title{
        font-size: 1.25rem;
    }
    
    .alien{
        font-size: 1.5rem;
    }
    
    nav ul li{
        font-size: 1rem;
        /* font-weight: ; */
    }
    
    .featured {
        height: 75vh;
        padding: 2em;
    }
    
    h1{
        font-size: 2.5rem;
    } 
    
    /* grid */
    
    .grid-container {
        margin: 0 auto;
        padding: 2em;
        max-width: 979px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
         "wd wd wd wd mg mg mg mg rd rd rd rd"
         "ad ad ad ad dt dt dt dt dd dd dd dd" 
         ".. .. .. .. ai ai ai ai ds ds ds ds"
            
        ;
    }
    
    .card {
        box-shadow: 7px 7px 10px 2px rgba(0, 0, 0, 0.1);
    }
    
    .card p{
        margin-bottom: 0.5em;
    }
    
    /* 
        wd"
        "mg"
        "rd"
        "ad"
        "dt"
        "dd"
        "ai"
     */
} 